<html>
<head>
    <title>Keyboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: "Open Sans", sans-serif;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        .row:nth-of-type(3) {
            margin-left: 21px;
        }
        .row:nth-of-type(4) {
            margin-left: 28px;
        }
        .row:nth-of-type(5) {
            margin-left: 42px;
        }
        .key {
            font-size: 20px;
            line-height: 40px;
            height: 40px;
            width: 40px;
            overflow: hidden;
            background-color: lightgrey;
            margin: 1px;
            text-align: center;
        }
        .key:hover {
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
    <script>
        var tooltips = JSON.parse('<%- JSON.stringify(tooltips) %>')
        function myMoveFunction(e) {
            let hoveredLetter = e.innerHTML.trim()
            let holder = document.getElementById("tooltipInfoDump")
            let words = tooltips[hoveredLetter]
            let DIV = "<h3>"+hoveredLetter+"</h3>"
            Object.keys(words).forEach((word) => {
                DIV+="<div>"+JSON.stringify(words)+"</div>"
            })
            holder.innerHTML = DIV
        }
    </script>
    <h1>Simple X Hot Key Daemon Keyboard Visualization</h1>
    <div id="keyboard">
        <% console.log(rows) %>
        <% rows.forEach( row => { %>
        <div class="row">
            <% row.forEach( letter => { %>
            <div class="key <%= (letter.length>=4) ? 'qu8' : 'normal'%>" 
            <% if(tooltips.hasOwnProperty(letter)){ %>
                onmousemove="myMoveFunction(this)"
            <% } %>
            >
                <%= (letter in displaynames) ? displaynames[letter] : letter %>
            </div>
            <% }) %>
        </div>
        <% }) %>
    </div>

    <div id="tooltipInfoDump">

    </div>
</body>
<html>
