<!DOCTYPE="html">
<html>
<head>
    <title>sxhkd Keybinds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: "Open Sans", sans-serif;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        .key {
            box-sizing: border-box;
            font-size: 18px;
            line-height: 44px;
            height: 44px;
            width: 44px;
            overflow: hidden;
            background-color: lightgrey;
            border: 1px solid white;
            text-align: center;
        }
        .key:hover {
            background-color: whitesmoke;
        }
        .source {
            font-family: "courier new";
        }
        .source div {
            display: flex;
            justify-content: flex-left;
        }
        .linenum {
            width: 50px;
        }
    </style>
</head>
<body>
    <script>
        var tooltips = JSON.parse('<%- JSON.stringify(tooltips) %>')
        function myMoveFunction(e) {
            let hoveredLetter = e.innerHTML.trim()
            let holder = document.getElementById("tooltipInfoDump")
            let words = tooltips[hoveredLetter]
            let DIV = "<h3>"+hoveredLetter+"</h3>"
            Object.keys(words).forEach((word) => {
                DIV+="<div>"+JSON.stringify(words)+"</div>"
            })
            holder.innerHTML = DIV
        }
    </script>

    <h1>Simple X Hot Key Daemon Keyboard Visualization</h1>

    <div id="keyboard">
        <% console.log(rows) %>
        <% rows.forEach( row => { %>
        <div class="row">
            <% row.forEach( letter => { %>
            <div class="key <%= (letter.length>=4) ? 'qu8' : 'normal'%>" 
            <% if(tooltips.hasOwnProperty(letter)){ %>
                onmousemove="myMoveFunction(this)"
            <% } %>
            <% if (letter in keywidths) { %>
                style="width: <%= keywidths[letter] * 11%>"
            <% } %>
            >
                <%= (letter in displaynames) ? displaynames[letter] : letter %>
            </div>
            <% }) %>
        </div>
        <% }) %>
    </div>

    <div>
        <h3 id="key-name">E</h3>
        <h4 id="command">docker -it exec mysqldb /bin/bash</h4>
        <h3>Source:</h3>
        <div class="source">
            <div>
                <div class="linenum" id="source-hotkey-num">9</div>
                <div id="source-hotkey-raw">alt + shift + e</div>
            </div>
            <div>
                <div class="linenum" id="source-command-num">10</div>
                <div id="source-command-raw">docker -it exec mysqldb /bin/bash</div>
            </div>
        </div>
    </div>

    <div id="tooltipInfoDump">

    </div>
</body>
<html>
